pymongo
PyYAML
rospkg
catkin_pkg
psutil
termcolor
numpy
scipy
git+https://github.com/ropod-project/rospy_message_converter.git#egg=rospy_message_converter
git+https://github.com/ropod-project/black-box-tools.git#egg=black_box_tools
pyzmq
rospy
